table{
	border: solid 3px;
	border-color: #aF008F;
	border-collapse: collapse;
}
table th, table td{
	border: solid 1px;
	border-color: #8F006F;
}

.daycol{
	width: 2em;
}


table .sct-check{
	width: 2rem;
	text-align: center;
	// background-color: #CFFEEF;
}

table .sct-task{
	width: 8rem;
	text-align: center;
	// background-color: #CFFEEF;
}

table .sct-date{
	width: 3rem;
	text-align: center;
	// background-color: #CFFEEF;
}

.sct-seldate{
	width: 4rem;
	text-align: center;
}
